.header-background {
  background-image: url("https://di-uploads-pod6.dealerinspire.com/1cochran/uploads/2024/07/cochran-careers-homepage-header-768px-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  position: relative;
  top: -60px;
}

.header-container {
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px 15px;
  position: relative;
  top: 290px;
  border-radius: 20px;
}

.row2 {
  text-align: center;
  background-color: #f2f2f2;
}

@media only screen and (min-width: 480px) {
  .header-container {
    top: 230px;
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .header-container {
    top: 280px;
    width: 670px;
  }

  .item-order {
    order: 1;
  }
}

@media only screen and (min-width: 992px) {
  .header-background {
    top: -80px;
    height: 100vh;
  }

  .header-container {
    padding: 40px;
    top: 280px;
  }

  .row3-container {
    margin: 30px auto;
    width: 850px;
  }

  .navbar-expand-lg .offcanvas .offcanvas-body {
    justify-content: end !important;
  }

  header {
    margin-bottom: -450px;
  }
}

@media only screen and (min-width: 1200px) {
  .header-background {
    height: 100vh;
  }

  .header-container {
    padding: 40px 50px;
    top: 480px;
    width: 970px;
  }
}

@media only screen and (min-width: 1400px) {
  .header-background {
    height: 100vh;
  }

  .header-container {
    padding: 40px 90px;
    top: 580px;
    width: 1120px;
  }

  .row3-container {
    width: 1010px;
  }

  header {
    margin-bottom: -400px;
  }
}

@media only screen and (min-width: 1920px) {
  .header-background {
    height: 1500px;
  }

  .header-container {
    top: 720px;
  }

  .row3-container {
    width: 1190px;
  }
}

@media only screen and (min-width: 2560px) {
  .header-container {
    top: 490px;
  }
}
