.header-background {
  background-image: url("https://di-uploads-pod6.dealerinspire.com/1cochran/uploads/2024/07/cochran-careers-homepage-header-768px-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  position: relative;
  top: -60px;
}

.header-container {
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px 15px;
  position: relative;
  top: 290px;
  border-radius: 20px;
}

.header-btn1-container a {
  text-decoration: none;
  background-color: #e82430;
  display: inline-block;
  margin: 40px auto 0;
  padding: 10px 0;
  width: 230px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 18px;
  transition-duration: 0.3s;
}

.header-btn1-container a:hover,
.btn1-container a:hover {
  background-color: #a71720;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn1-container a {
  text-align: center;
  text-decoration: none;
  background-color: #e82430;
  display: inline-block;
  margin: 40px auto 0;
  padding: 10px 0;
  width: 210px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 18px;
  transition-duration: 0.3s;
}

.row2 {
  text-align: center;
  background-color: #f2f2f2;
}

/* Slider */
/* external css: flickity.css */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
  border-radius: 20px;
}

.carousel-cell iframe {
  border-radius: 20px;
}

button.flickity-button.flickity-prev-next-button.next {
  display: none;
}

button.flickity-button.flickity-prev-next-button.previous {
  display: none;
}
/* Slider */

@media only screen and (min-width: 480px) {
  .header-container {
    top: 230px;
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .header-container {
    top: 280px;
    width: 670px;
  }

  .carousel-cell img {
    height: 400px;
  }

  .item-order {
    order: 1;
  }
}

@media only screen and (min-width: 992px) {
  .header-background {
    top: -80px;
    height: 100vh;
  }

  .header-container {
    padding: 40px;
    top: 280px;
  }

  .row3-container {
    margin: 30px auto;
    width: 850px;
  }

  .navbar-expand-lg .offcanvas .offcanvas-body {
    justify-content: end !important;
  }
}

@media only screen and (min-width: 1200px) {
  .header-background {
    height: 100vh;
  }

  .header-container {
    padding: 40px 50px;
    top: 480px;
    width: 970px;
  }
}

@media only screen and (min-width: 1400px) {
  .header-background {
    height: 100vh;
  }

  .header-container {
    padding: 40px 90px;
    top: 580px;
    width: 1120px;
  }

  .row3-container {
    width: 1010px;
  }
}

@media only screen and (min-width: 1920px) {
  .header-background {
    height: 1460px;
  }

  .header-container {
    top: 720px;
  }

  .row3-container {
    width: 1190px;
  }
}

@media only screen and (min-width: 2560px) {
  .header-background {
    background-image: url("https://di-uploads-pod6.dealerinspire.com/1cochran/uploads/2024/07/cochran-careers-homepage-header-1200px-1.png");
    height: 1090px;
  }

  .header-container {
    top: 490px;
  }
}
