.row1 {
  background: #f2f2f2;
  text-align: center;
  padding: 60px 0;
}

.row1 p,
.row1 h6 {
  padding: 15px 0;
}

.row1 h6 {
  line-height: 1.5;
}

.row2 {
  margin: 60px 0;
  background: #fff;
}

.row2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row2-container ul {
  text-align: center !important;
  list-style-position: inside !important;
  padding-left: 0px !important;
}

.row2-container div {
  padding: 30px;
  margin: 45px 0;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 290px;
  height: 670px;
}

.row2-container img {
  display: block;
  width: 155px;
  margin: 0 auto;
  position: relative;
  bottom: 80px;
  margin-bottom: -50px;
}

.row2-container div:nth-child(4),
.row2-container div:nth-child(5) {
  height: 480px;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  header {
    margin-bottom: -200px;
  }

  .row2-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    --gap: 20px;
    gap: var(--gap);
  }

  .row2-container div {
    width: 270px;
  }

  .row2-container div:nth-child(4) {
    height: 670px;
  }
}

@media only screen and (min-width: 992px) {
  .row2-container div {
    width: 260px;
    height: 580px;
  }

  .row2-container div:nth-child(4) {
    height: 580px;
  }
}

@media only screen and (min-width: 1200px) {
  .row1 h6 {
    padding: 20px 40px;
  }

  .row2-container div:nth-child(4),
  .row2-container div:nth-child(5) {
    height: 480px;
  }
}

@media only screen and (min-width: 1400px) {
  header {
    margin-bottom: 0;
  }
}
