.header-btn1-container a {
    text-decoration: none;
    background-color: #e82430;
    display: inline-block;
    margin: 40px auto 0;
    padding: 10px 0;
    width: 230px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 18px;
    transition-duration: 0.3s;
  }
  
  .header-btn1-container a:hover,
  .btn1-container a:hover {
    background-color: #a71720;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .btn1-container a {
    text-align: center;
    text-decoration: none;
    background-color: #e82430;
    display: inline-block;
    margin: 40px auto 0;
    padding: 10px 0;
    width: 210px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 18px;
    transition-duration: 0.3s;
  }