.body-container {
  max-width: 290px;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.body-container img {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.body-container2 {
    padding: 0px 0 0;
  }

@media only screen and (min-width: 480px) {
  .body-container {
    max-width: 400px;
  }

  .body-container2 {
    padding: 0px 0 0;
  }
}

@media only screen and (min-width: 768px) {
  .body-container {
    max-width: 670px;
  }

  .body-container2 {
    padding: 0px 0 0;
  }
}

@media only screen and (min-width: 992px) {
  .body-container {
    max-width: 850px;
  }
}

@media only screen and (min-width: 1200px) {
  .body-container {
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1400px) {
  .body-container {
    max-width: 1200px;
  }
}
