.video-wrapper {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 20px 0;
}

.custom-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
video {
  border-radius: 20px;
}

.custom-carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.custom-carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.custom-carousel-item video {
  width: 100%;
  height: auto;
}

.custom-carousel-prev,
.custom-carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.custom-carousel-prev {
  left: 10px;
}

.custom-carousel-next {
  right: 10px;
}
